rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {

    function isAuthenticated() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isAuthenticated() && request.auth.uid == userId;
    }

    match /users/{userId}/avatar/{fileName} {
      allow read: if isAuthenticated();
      allow write: if isOwner(userId);
    }

    match /tutors/{userId}/verification/{fileName} {
      allow read, write: if isOwner(userId);
    }
  }
}
